
<div class="row">
<%@books.each do |book| %>
   <div class="col-md-4 ">
      <div class="card" style="width: 20rem;">
      <%= image_tag book.image.url(:original),width: 320, height: 400, class:"card-img-top" %>

          <div class="card-block">
            <h3 class="card-title"><%=book.title%></h3>
            <p class="card-text"><%= book.description%></p>
            <%= link_to "See Post" , book_path(book), class: "btn btn-primary", float: "left"%>

          </div>
      </div>
                       <br>
                       <br>
   </div>
 <%end%>
 <br>

</div>

<br>
<br>
<br>
<hr class="style17">
<%= link_to "New" , new_book_path, class: "btn btn-primary", float: "left"%>
